# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
